@model List<agenda.Models.Agenda>

@{
    int i = 0;
}


<!DOCTYPE html>
<html>
<head>
    <title>Datas Disponíveis</title>
</head>
<body>
    <div id="popupErro" class="alert alert-danger" style="display: none; text-align: center;" role="alert">
        <span id="mensagemErroPopup"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" onclick="fecharPopupLogin()" aria-label="Close"></button>
    </div>

    <div class="m-1 w-100 text-center">
        <h4 style="color:#bf0086">@ViewBag.centroAtendimentoNome</h4>
        <h4 style="color:#bf0086">@ViewBag.especialidadeNome</h4>
        <h4 style="color:#bf0086">@ViewBag.servicoNome</h4>
        <h4 style="color:#bf0086">@ViewBag.unidadeNome</h4>
    </div>
    <hr>

    <div class="d-flex justify-content-between align-items-center">
        <div>
            <a class="btn btn-voltar" style="padding:10px !important" href="javascript:history.back()">Voltar</a>
        </div>
        <div class="w-100 text-center" style="padding-right: 5%">
            <h2 class="m-1" style="padding-right: 45px; ">Datas Disponíveis</h2>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var agenda in Model)
            {
                if (@ViewBag.disponibilidadeAgenda[i] <= 0)
                {
                    i++;
                    continue;
                }
                else
                {
                    var vagasRestantes = agenda.nuVagas - agenda.nuReserva;
                    var agendaConfirmacao = @agenda.dtAgenda.ToString("dd/MM/yyyy");

                    var horas = agenda.hrInicio.Hours.ToString("00");
                    var minutos = agenda.hrInicio.Minutes.ToString("00");
                    var horarioConfirmacao = $"{horas}:{minutos}";

                    var horasInicio = agenda.hrInicio.Hours.ToString("00");
                    var minutosInicio = agenda.hrInicio.Minutes.ToString("00");
                    var horarioInicio = $"{horasInicio}:{minutosInicio}";
                    <tr>
                        <td style="display: flex; flex-direction: column; align-items: center;">
                            <h3>Data - @agenda.dtAgenda.ToString("dd/MM/yyyy")</h3>
                            @if (Context.Session.GetString("idPessoa") == null)
                            {
                                <a class="btn btn-primary btn-block" onclick="userDeslogado()">Horário: @horarioInicio horas</a>
                            }
                            else if (ViewBag.limitePorEspecialidade == false)
                            {
                                @if (Context.Session.GetString("idPessoa") != null)
                                {
                                    <a class="btn btn-primary btn-block" onclick="return abrirPopup('@agendaConfirmacao', '@horarioConfirmacao', '@ViewBag.disponibilidadeAgenda[i]', @agenda.idAgenda);">Horário: @horarioInicio horas</a>
                                }
                            }
                            else
                            {
                                <a class="btn btn-primary btn-block" style="background-color: #808080 !important; border-color: #1B1212 !important;" onclick="limiteUser()">Horário: @horarioInicio horas</a>
                            }

                            <h5 style="padding-top: 5px">Número de vagas restantes: @ViewBag.disponibilidadeAgenda[i] </h5>
                        </td>
                    </tr>
                }
                i++;
            }
        </tbody>
    </table>

    <!-- O pop-up em si -->
    <div id="popupConfirmacao" class="m-1 w-100 text-center">
        <h3>Deseja confirmar o agendamento?</h3>
        <h4 style="color:#bf0086">@ViewBag.centroAtendimentoNome</h4>
        <h4 style="color:#bf0086">@ViewBag.especialidadeNome</h4>
        <h4 style="color:#bf0086">@ViewBag.servicoNome</h4>
        <h4 style="color:#bf0086">@ViewBag.unidadeNome</h4>
        <h4 id="dataAgenda">Data: </h4>
        <h4 id="horarioAgenda">Horário: </h4>
        <h4 id="qtdeDisponivel">Vaga(s) Disponíveis: </h4>
        <div style="display: flex; justify-content: center; gap: 10px;">
            <button class="btn btn-primary btn-cancelar" style="width: 50%;">Cancelar</button>
            <form asp-controller="CentroAtendimento" asp-action="MarcacaoDeHorario" method="post" style="width: 50%;">
                <input type="hidden" name="idAgenda" id="formIDAgenda" />
                <input type="hidden" name="idPessoa" value="@Context.Session.GetString("User")" />
                <button class="btn btn-primary btn-cancelar" id="confirmButton" style="width: 100%;">Confirmar</button>
            </form>
        </div>
    </div>
    <!-- A sobreposição -->
    <div id="overlayConfirmacao"></div>

    <!-- script popup -->
    <script type="text/javascript">
        function abrirPopup(data, horario, qtdeDisponivel, idAgenda) {
            document.getElementById('dataAgenda').innerText = "Data: " + data;
            document.getElementById('horarioAgenda').innerText = "Horário: " + horario;
            document.getElementById('qtdeDisponivel').innerText = "Vaga(s) Disponíveis: " + qtdeDisponivel;
            document.getElementById('formIDAgenda').value = idAgenda;

            document.getElementById('overlayConfirmacao').style.display = 'block';
            document.getElementById('popupConfirmacao').style.display = 'block';
        }

        function fecharPopup() {
            document.getElementById('overlayConfirmacao').style.display = 'none';
            document.getElementById('popupConfirmacao').style.display = 'none';
        }

        function userDeslogado() {
            var mensagemErro = "Por favor, realize o login para marcar a consulta";
            document.getElementById('mensagemErroPopup').innerText = mensagemErro;
            document.getElementById('popupErro').style.display = 'block';
        }

        function limiteUser() {
            var mensagemErro = "Só é possível possuir uma consulta marcada por Especialidade, olhe seus horários marcados.";
            document.getElementById('mensagemErroPopup').innerText = mensagemErro;
            document.getElementById('popupErro').style.display = 'block';
        }

        function fecharPopupLogin() {
            document.getElementById('overlayConfirmacao').style.display = 'none';
            document.getElementById('popupConfirmacao').style.display = 'none';
            document.getElementById('popupErro').style.display = 'none';
        }
    </script>
</body>
</html>

