@model List<agenda.Models.Agendamento>

@{
    int cardIndex = 0;
}

<style>

    .print-only {
        display: none; 
    }

@@media print {
        .button-group, .btn-print {
            display: none; 
        }

        .print-only {
            display: block; 
        }
}
</style>

@if (Context.Session.GetString("User") != null)
{
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" style="text-align: center;">
            @Html.Raw(TempData["MensagemErro"].ToString().Replace("\n", "<br/>"))
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" style="text-align: center;">
            @Html.Raw(TempData["MensagemSucesso"])
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (ViewBag.HorarioAgendado != null && ViewBag.HorarioAgendado.Count > 0)
    {
        <div id="overlayConfirmacao"></div>
        <div id="popupConfirmacao" style="padding: 30px;">
            <h2 style="text-align: center; padding-bottom: 15px;">
                Tem certeza que deseja cancelar este horário?
            </h2>
            <div style="text-align: center;">
                <button id="confirmCancel" class="btn btn-primary">Sim, cancelar</button>
                <button id="cancelCancel" class="btn btn-primary">Não, manter</button>
            </div>
        </div>

        <h1 style="text-align: center; padding-bottom: 10px;">HÓRARIOS MARCADOS</h1>
        <div class="cards-container">
            @foreach (var horario in ViewBag.HorarioAgendado)
            {
                <div class="card" id="card-@cardIndex">
                    <div class="card-content">
                        <p><strong>Data do Agendamento: </strong>@horario.dtAgenda.ToString("dd/MM/yyyy")</p>
                        <p><strong>Horário Início:</strong> @horario.hrInicio</p>
                        <p><strong>Horário Fim:</strong> @horario.hrFim</p>
                        <p><strong>Centro de Atendimento:</strong> @horario.nmCentroAtendimento</p>
                        <p><strong>Especialidade:</strong> @horario.nmEspecialidade</p>
                        <p><strong>Serviço:</strong> @horario.nmServico</p>
                        <p><strong>Unidade de Atendimento:</strong> @horario.deUnidadeAtendimento</p>
                        <div class="print-only">
                            <p><strong>Nome:</strong> @ViewBag.PessoaImprimir.nmPessoa</p>
                            <p><strong>Telefone:</strong> @ViewBag.PessoaImprimir.nuTelefone</p>
                        </div>
                        <div class="button-group" style="justify-content: center !important;">
                            <button class="button btn-print" data-card-id="@cardIndex" style="margin:5px;">Imprimir</button>
                            <form asp-controller="CentroAtendimento" asp-action="CancelarHorario" method="post" style="margin:5px;">
                                <input type="hidden" name="idAgendamento" value="@horario.idAgendamento" />
                                <button class="button" type="button">Cancelar Agendamento</button>
                            </form>
                        </div>
                    </div>
                </div>
                cardIndex++;
            }
        </div>
    }
    else
    {
        <h1>NÃO HÁ NENHUM HORÁRIO MARCADO.</h1>
    }
} 
else
{
    <h1 style="text-align: center;">PÁGINA INDISPONÍVEL</h1>
}

<script>
    // Popup confirmação
    document.querySelectorAll('.button').forEach(function (button) {
        button.addEventListener('click', function (event) {
            event.preventDefault(); 
            var form = this.parentElement; 

            document.getElementById('overlayConfirmacao').style.display = 'block';
            document.getElementById('popupConfirmacao').style.display = 'block';

            document.getElementById('confirmCancel').onclick = function () {
                form.submit(); 
            };

            document.getElementById('cancelCancel').onclick = function () {
                document.getElementById('overlayConfirmacao').style.display = 'none';
                document.getElementById('popupConfirmacao').style.display = 'none';
            };
        });
    });

    // Imprimir
    document.querySelectorAll('.btn-print').forEach(function (button) {
        button.addEventListener('click', function () {
            var cardId = this.getAttribute('data-card-id');
            var cardContent = document.getElementById('card-' + cardId).innerHTML;
            var originalContent = document.body.innerHTML;

            document.body.innerHTML = cardContent;

            window.print();

            document.body.innerHTML = originalContent;
        });
    });
</script>
