@if (bool.Parse(Context.Session.GetString("IsAdmin") ?? "false"))
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" style="text-align: center;">
            @Html.Raw(TempData["MensagemSucesso"])
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (ViewBag.HorarioAdministrador != null && ViewBag.HorarioAdministrador.Count > 0)
    {
        <div id="overlayConfirmacao"></div>
        <div id="popupConfirmacao" style="padding: 30px;">
            <h2 style="text-align: center; padding-bottom: 15px;">
                Tem certeza que deseja cancelar este horário?
            </h2>
            <div style="text-align: center;">
                <button id="confirmCancel" class="btn btn-primary">Sim, cancelar</button>
                <button id="cancelCancel" class="btn btn-primary">Não, manter</button>
            </div>
        </div>

        <div id="mensagemErro" class="alert alert-danger" style="display:none; text-align: center;">
            <span id="textoMensagemErro"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="d-flex justify-content-center align-items-center position-relative">
            <a class="btn btn-voltar position-absolute" style="left: 0; padding:10px !important;" href="@Url.Action("HorarioAdministrador", "CentroAtendimento")">Resetar Filtros</a>
            <h1 style="text-align: center; padding-bottom: 10px;">FILTRAR HORÁRIOS</h1>
        </div>

        <div style="flex-direction: row;">
            <div class="dropdown">
                <div class="form-group text-center">
                    <label for="centroAtendimentoSelect">Centro de Atendimento:</label>
                    <select class="form-control" id="centroAtendimentoSelect" style="margin:auto;">
                        <option value="">Selecione um Centro de Atendimento</option>
                        @foreach (var centroAtendimento in ViewBag.CentroAtendimento)
                        {
                            <option value="@centroAtendimento.idCentroAtendimento">@centroAtendimento.nmCentroAtendimento</option>
                        }
                    </select>
                </div>

                <div class="form-group text-center">
                    <label for="especialidadeSelect">Especialidade:</label>
                    <select class="form-control" id="especialidadeSelect" style="margin:auto;">
                        <option value="">Selecione uma Especialidade</option>
                    </select>
                </div>

                <div class="form-group text-center">
                    <label for="servicoSelect">Serviço:</label>
                    <select class="form-control" id="servicoSelect" style="margin:auto;">
                        <option value="">Selecione um Serviço</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group text-center">
            <label>Nome do usuário:</label>
            <input type="text" class="form-control" id="inputNomeUsuario" placeholder="Insira o nome completo da pessoa" style="margin:auto;">
        </div>

        <div style="text-align: center;">
            <label>Selecione o intervalo de tempo:</label>
            <div style="margin-top: 10px;">
                <input type="text" class="form-control" id="dtInicio" placeholder="Inicio" style="text-align: center; display: inline; width: 10%;">
                <input type="text" class="form-control" id="dtFim" placeholder="Fim" style="text-align: center; display: inline; width: 10%;">
            </div>
        </div>



        <div class="d-flex justify-content-center" style="margin-top: 15px; margin-bottom: 15px;">
            <button id="button-filtrar" class="btn btn-primary">Filtrar</button>
            <button id="button-exportar-excel" class="btn btn-primary" style="margin-left: 15px;">Exportar para Excel</button>
        </div>

        <h1 style="text-align: center; padding-bottom: 10px;">HÓRARIOS MARCADOS</h1>
        <div class="cards-container">
            @foreach (var horario in ViewBag.HorarioAdministrador)
            {
                <div class="card-horizontal">
                    <div class="card-section">
                        <p><strong>Nome:</strong> @horario.nmPessoa</p>
                        <p><strong>Serviço:</strong> @horario.nmServico</p>
                        <p><strong>Especialidade:</strong> @horario.nmEspecialidade</p>
                    </div>
                    <div class="card-section">
                        <p><strong>Telefone:</strong> @horario.nuTelefone</p>
                        <p><strong>Centro de Atendimento:</strong> @horario.nmCentroAtendimento</p>
                        <p><strong>Unidade de Atendimento:</strong> Clínica-Escola de Nutrição - Edifício União - SCS</p>
                    </div>
                    <div class="card-section">
                        <p><strong>Email:</strong> @horario.edEmail</p>
                        <p><strong>Data do Agendamento:</strong> @horario.dtAgenda.ToString("dd/MM/yyyy")</p>
                        <p><strong>Horário Início:</strong> @horario.hrInicio</p>
                        <p><strong>Horário Fim:</strong> @horario.hrFim</p>
                    </div>
                    <div></div>
                    <div class="button-container">
                        <button class="btn btn-primary button-imprimir" data-id="@horario.idAgendamento" style="display:none">Imprimir</button>
                        <form asp-controller="CentroAtendimento" asp-action="CancelarHorarioADM" method="post" class="button-form">
                            <input type="hidden" name="idAgendamento" value="@horario.idAgendamento" />
                            <button class="btn btn-primary button-cancelar" type="submit" data-id-agendamento="@horario.idAgendamento">Cancelar Agendamento</button>
                        </form>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h1 style="text-align: center;">NÃO HÁ NENHUM HORÁRIO MARCADO.</h1>
    }
} 
else
{
    <h1 style="text-align: center;">PÁGINA INDISPONÍVEL</h1>
}

<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Aplica o flatpickr aos dois campos de entrada
        flatpickr("#dtInicio", {
            dateFormat: "d-m-Y",
            allowInput: true,
            "locale": "pt"
        });
        flatpickr("#dtFim", {
            dateFormat: "d-m-Y",
            allowInput: true,
            "locale": "pt"
        });

        // Função para formatar a data
        function formatarData(elemento) {
            var value = elemento.value;
            value = value.replace(/\D/g, '')
                .slice(0, 8)
                .replace(/^(\d{2})(\d)/, '$1-$2')
                .replace(/^(\d{2})-(\d{2})(\d)/, '$1-$2-$3');
            elemento.value = value;
        }

        // Adiciona o event listener para ambos os campos de entrada
        const dtInicio = document.getElementById('dtInicio');
        const dtFim = document.getElementById('dtFim');

        dtInicio.addEventListener('blur', function (e) {
            formatarData(e.target);
        });

        dtFim.addEventListener('blur', function (e) {
            formatarData(e.target);
        });
    });

    var urlHorarioAdministrador = '@Url.Action("HorarioAdministrador", "CentroAtendimento")';

    $(document).ready(function () {
        $('#centroAtendimentoSelect').change(function () {
            var idCentroAtendimento = $(this).val();
            atualizarEspecialidades(idCentroAtendimento);
        });

        $('#especialidadeSelect').change(function () {
            var idCentroAtendimento = $('#centroAtendimentoSelect').val();
            var idEspecialidade = $(this).val();
            atualizarServicos(idCentroAtendimento, idEspecialidade);
        });
    });

    function atualizarEspecialidades(idCentroAtendimento) {
        if (idCentroAtendimento) {
            $.getJSON('/CentroAtendimento/GetEspecialidadesPorCentro', { idCentroAtendimento: idCentroAtendimento }, function (data) {
                var especialidadeSelect = $('#especialidadeSelect');
                especialidadeSelect.empty();
                especialidadeSelect.append($('<option>', { value: '', text: 'Selecione uma Especialidade' }));
                $.each(data, function (index, item) {
                    especialidadeSelect.append($('<option>', { value: item.idEspecialidade, text: item.nmEspecialidade }));
                });
            });
        }
    }

    function atualizarServicos(idCentroAtendimento, idEspecialidade) {
        if (idCentroAtendimento && idEspecialidade) {
            $.getJSON('/CentroAtendimento/GetServicosFiltrados', { idCentroAtendimento: idCentroAtendimento, idEspecialidade: idEspecialidade }, function (data) {
                var servicoSelect = $('#servicoSelect');
                servicoSelect.empty();
                servicoSelect.append($('<option>', { value: '', text: 'Selecione um Serviço' }));
                $.each(data, function (index, item) {
                    servicoSelect.append($('<option>', { value: item.idServico, text: item.nmServico }));
                });
            });
        }
    }

    $('#button-filtrar').click(function () {
        var idCentroAtendimento = $('#centroAtendimentoSelect').val();
        var idEspecialidade = $('#especialidadeSelect').val();
        var idServico = $('#servicoSelect').val();
        var nomeUsuario = $('#inputNomeUsuario').val();
        var dtInicio = $('#dtInicio').val();
        var dtFim = $('#dtFim').val();

        if (!idCentroAtendimento && !idEspecialidade && !idServico && !nomeUsuario && !dtInicio && !dtFim) {
            $('#textoMensagemErro').text('Por favor, preencha pelo menos um campo para filtrar.');
            $('#mensagemErro').show();
            return;
        } else {
            $('#mensagemErro').hide();
        }

        $.ajax({
            url: '@Url.Action("FiltrarHorarios", "CentroAtendimento")',
            type: 'GET',
            data: {
                centroAtendimento: idCentroAtendimento,
                especialidade: idEspecialidade,
                servico: idServico,
                nomeUsuario: nomeUsuario,
                dtInicio: dtInicio,
                dtFim: dtFim
            },
            success: function (response) {
                if (!response.success) {
                    $('#textoMensagemErro').text(response.message);
                    $('#mensagemErro').show();
                } else {
                    if (response.data.length === 0) {
                        $('#textoMensagemErro').text('Nenhum horário encontrado com os filtros aplicados.');
                        $('#mensagemErro').show();
                    } else {
                        $('#mensagemErro').hide();
                        atualizarHorarios(response.data);
                    }
                }
            },
            error: function (xhr, status, error) {
                $('#textoMensagemErro').text('Ocorreu um erro na solicitação: ' + error);
                $('#mensagemErro').show();
            }
        });
    });


    function atualizarHorarios(data) {
        var container = $('.cards-container');
        container.empty(); 

        data.forEach(horario => {
            var card = $('<div>').addClass('card-horizontal');
            card.append($('<div>').addClass('card-section')
                .append($('<p>').html('<strong>Nome:</strong> ' + horario.nmPessoa))
                .append($('<p>').html('<strong>Serviço:</strong> ' + horario.nmServico))
                .append($('<p>').html('<strong>Especialidade:</strong> ' + horario.nmEspecialidade)));

            card.append($('<div>').addClass('card-section')
                .append($('<p>').html('<strong>Telefone:</strong> ' + horario.nuTelefone))
                .append($('<p>').html('<strong>Centro de Atendimento:</strong> ' + horario.nmCentroAtendimento))
                .append($('<p>').html('<strong>Unidade de Atendimento:</strong> Clínica-Escola de Nutrição - Edifício União - SCS')));

            card.append($('<div>').addClass('card-section')
                .append($('<p>').html('<strong>Email:</strong> ' + horario.edEmail))
                .append($('<p>').html('<strong>Data do Agendamento:</strong> ' + horario.dtAgenda))
                .append($('<p>').html('<strong>Horário Início:</strong> ' + horario.hrInicio))
                .append($('<p>').html('<strong>Horário Fim:</strong> ' + horario.hrFim)));
            
            var divVazia = $('<div>');

            var botaoImprimir = $('<button>').addClass('btn btn-primary button-imprimir').text('Imprimir').css('display','none');

            var urlCancelar = '@Url.Action("CancelarHorarioADM", "CentroAtendimento")';

            var formularioCancelar = $('<form>').attr({
                'action': urlCancelar, 
                'method': 'post',
                'class': 'button-form'
            }).append($('<input>').attr({
                'type': 'hidden',
                'name': 'idAgendamento',
                'value': horario.idAgendamento 
            })).append($('<button>').addClass('btn btn-primary button-cancelar').attr({
                'type': 'submit',
                'data-id-agendamento': horario.idAgendamento 
            }).text('Cancelar Agendamento'));

            var buttonContainer = $('<div>').addClass('button-container d-flex justify-content-center')
                .append(botaoImprimir)
                .append(formularioCancelar);

            card.append(divVazia);

            card.append(buttonContainer);

            container.append(card);
        });
    }

    var formularioAtual = null;

    $(document).on('submit', '.button-form', function (event) {
        event.preventDefault();
        formularioAtual = this;

        document.getElementById('overlayConfirmacao').style.display = 'block';
        document.getElementById('popupConfirmacao').style.display = 'block';
    });


    document.getElementById('confirmCancel').onclick = function () {
        if (formularioAtual) {
            formularioAtual.submit();
        }
    };

    document.getElementById('cancelCancel').onclick = function () {
        document.getElementById('overlayConfirmacao').style.display = 'none';
        document.getElementById('popupConfirmacao').style.display = 'none';
    };


    $('#button-exportar-excel').click(function () {
        // Array para manter os dados de cada card
        var dataOcorrencias = [];

        // Iterar sobre cada card e extrair os dados
        $('.card-horizontal').each(function () {
            var ocorrencia = {
                'Nome': $(this).find('.card-section').eq(0).find('p').eq(0).text().replace('Nome:', '').trim(),
                'Serviço': $(this).find('.card-section').eq(0).find('p').eq(1).text().replace('Serviço:', '').trim(),
                'Especialidade': $(this).find('.card-section').eq(0).find('p').eq(2).text().replace('Especialidade:', '').trim(),
                'Telefone': $(this).find('.card-section').eq(1).find('p').eq(0).text().replace('Telefone:', '').trim(),
                'Centro de Atendimento': $(this).find('.card-section').eq(1).find('p').eq(1).text().replace('Centro de Atendimento:', '').trim(),
                'Email': $(this).find('.card-section').eq(2).find('p').eq(0).text().replace('Email:', '').trim(),
                'Data do Agendamento': $(this).find('.card-section').eq(2).find('p').eq(1).text().replace('Data do Agendamento:', '').trim(),
                'Horário Início': $(this).find('.card-section').eq(2).find('p').eq(2).text().replace('Horário Início:', '').trim(),
                'Horário Fim': $(this).find('.card-section').eq(2).find('p').eq(3).text().replace('Horário Fim:', '').trim()
            };
            dataOcorrencias.push(ocorrencia);
        });

        // Usando SheetJS para criar o arquivo Excel
        var worksheet = XLSX.utils.json_to_sheet(dataOcorrencias);
        var workbook = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(workbook, worksheet, "Ocorrencias");

        var dataAtual = new Date();
        var dia = ('0' + dataAtual.getDate()).slice(-2); // Adiciona um zero à esquerda se necessário
        var mes = ('0' + (dataAtual.getMonth() + 1)).slice(-2); // Adiciona um zero à esquerda se necessário
        var ano = dataAtual.getFullYear();
        var nomeArquivo = "AgendaCAC_" + dia + "-" + mes + "-" + ano + ".xlsx";

        // Gerar o arquivo Excel e simular um clique para download
        XLSX.writeFile(workbook, nomeArquivo);
    });

</script>
