@model agenda.Models.Pessoa

@{
    ViewData["Title"] = "AgendaCAC - Criar usuário";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" style="text-align: center;">
        @Html.Raw(TempData["MensagemErro"])
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="wrapper">
    <form asp-action="Criar" asp-controller="Usuario" method="post">
        <h1>Cadastro</h1>
        <div class="input-box">
            <input type="text" asp-for="nmPessoa"/>
            @Html.ValidationMessageFor(x => x.nmPessoa)
        </div>
        <div class="input-box">
            <input asp-for="edEmail"/>
            @Html.ValidationMessageFor(x => x.edEmail)
        </div>
        <div class="input-box">
            <input type="tel" asp-for="nuTelefone" />
            @Html.ValidationMessageFor(x => x.nuTelefone)
        </div>
        <div class="input-box">
            <input type="text" asp-for="nuCPF"/>
            @Html.ValidationMessageFor(x => x.nuCPF)
        </div>
        <div class="input-box">
            <input type="text" asp-for="dtNascimento" placeholder="Data de Nascimento" onfocus="this.type='date'" onblur="this.type='text'"/>
            @Html.ValidationMessageFor(x => x.dtNascimento)
        </div>
        <div class="input-box">
            <input type="password" asp-for="coSenha" id="coSenha"/>
            @Html.ValidationMessageFor(x => x.coSenha)

        </div>
        <div class="input-box">
            <input type="password" asp-for="coSenhaConfirmar" id="coSenhaConfirmar" />
            @Html.ValidationMessageFor(x => x.coSenhaConfirmar)
        </div>
        <label style="padding-bottom: 10px;"><input type="checkbox" id="showPasswordCheckbox" /> Mostrar senha</label>
        <div class="remember-forgot" style="justify-content: space-around !important; padding: 10px; margin-bottom: -1px;">
            <label><input type="radio" asp-for="idSexo" value="2">Homem</label>
            <label><input type="radio" asp-for="idSexo" value="1">Mulher</label>
        </div>
        <span style="position: relative; top: -10px;">
            @Html.ValidationMessageFor(x => x.idSexo)
        </span>
        <button type="submit" class="btn-login">Cadastrar</button>
        <div class="criar-conta">
            <p>Já tem uma conta?<a href="@Url.Action("Login", "Usuario")">  Entrar</a></p>
        </div>
        <input type="hidden" asp-for="icAtivo" value="true" />
    </form>
</div>

<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById('coSenha');
        var passwordInput1 = document.getElementById('coSenhaConfirmar');
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordInput1.type = "text";
        } else {
            passwordInput.type = "password";
            passwordInput1.type = "password";
        }
    }

    document.getElementById('showPasswordCheckbox').addEventListener('click', togglePasswordVisibility);
</script>

