@model agenda.Models.Login

@{
    ViewData["Title"] = "AgendaCAC - Login";
}
@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success">
        @TempData["MensagemSucesso"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger">
        @TempData["MensagemErro"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet" asp-append-version="true">
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="wrapper">
    <form asp-action="Logar" asp-controller="Usuario" method="post">
        <h1>Login</h1>
        <div class="input-box">
            <input asp-for="Usuario" />
            @Html.ValidationMessageFor(x => x.Usuario)
        </div>
        <div class="input-box">
            <input asp-for="Senha" />
            @Html.ValidationMessageFor(x => x.Senha)
        </div>

        <div class="remember-forgot" style="padding-top: 10px;">
            <label><input type="checkbox" />Lembrar de mim</label>
            <a href="@Url.Action("EsquecerSenha", "Usuario")">Esqueceu a senha?</a>
        </div>

        <button type="submit" class="btn-login">Logar</button>
        <div class="criar-conta">
            <p>Não tem uma conta?<a href="@Url.Action("CriarConta", "Usuario")">  Registre-se</a></p>
        </div>
    </form>
</div>

